<!-- <!DOCTYPE html>
<html>
<head>
  <title>Items</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Coffee Shop Menu</h1>
    <ul class="list-group">
      <% items.forEach(function(item) { %>
        <li class="list-group-item"><strong><%= item.name %>:</strong> <%= item.price %> euros
             <br><%= item.description %> </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
 -->
 <!DOCTYPE html>
<html>
<head>
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    
  <title>Items</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <style>
               .container {
                max-width: 600px;
                min-width: 300px; 
                margin: 0 auto;
                padding: 30px;
                }
                .list-group-item {
                width: 90%;
                margin: 10px auto;
                text-align: center;
                }
                h1 {
                text-align: center;
                } 

  </style>
</head>
<body>
  <div class="container">
    <h1>Coffee Shop Menu</h1>
    <ul class="list-group">
      <% items.forEach(function(item) { %>
        <li class="list-group-item"><strong><%= item.name %>: <%= item.price %>€</strong> 
             <br><%= item.description %> </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
